:root {
    --black: #2b2b2b;
    --blue: #2f65f9;
    --dark-blue: #070439;
    --green: #3da08f;
    --light-gray: #f8f8fe;
    --soft-blue: #585989;
    --white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

body {
    color: var(--black);
    font-family: "Roboto", sans-serif;
    min-height: 100dvh;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

.nav,
.hero__content,
.productivity__container,
.early-access__container,
.footer__content {
    margin-inline: auto;
    max-width: 80rem;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
}

.nav__menu {
    display: flex;
    gap: 2em;
}

.nav__menu-link {
    color: var(--black);
}

.hero__content {
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 4em 2.5em 7em;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero__title {
    font-size: 2.2rem;
    line-height: 1.4;
}

.hero__form {
    display: flex;
    gap: .8em;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hero__input {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: .8em;
    outline: 0;
    width: clamp(180px, 20vw, 290px);
}

.hero__button,
.early-access__button {
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    color: var(--white);
    cursor: pointer;
}

.hero__button {
    padding: 1em 4em;
}

.divider {
    display: block;
    width: 100%;
}

.divider img {
    width: 100%;
}

.productivity {
    background-color: var(--light-gray);
}

.productivity__container {
    display: flex;
    gap: 2em;
    padding: 2.5em 2.5em 8em;
}

.productivity__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.productivity__title {
    font-size: 2rem;
}

.productivity__link {
    color: var(--green);
    display: flex;
    gap: .4em;
    position: relative;
}

.productivity__link::after {
    background-color: var(--green);
    bottom: -4px;
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
}

.testimonial {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    gap: .6em;
    padding: 1.5em;
    margin-top: 2em;
    max-width: 325px;
}

.testimonial__quote {
    font-size: .9rem;
    line-height: 1.6;
}

.testimonial__author {
    display: flex;
    gap: .4em;
}

.testimonial__author-avatar {
    height: 35px;
    width: 35px;
}

.testimonial__author-avatar img {
    border-radius: 50%;
}

.testimonial__author-info {
    display: flex;
    flex-direction: column;
}

.testimonial__author-name {
    font-family: "Poppins", sans-serif;
    font-size: .8em;
    font-weight: 700;
}

.testimonial__author-title {
    font-size: .7em;
}

.productivity__content,
.productivity__illustration,
.early-access__content,
.early-access__form {
    flex-basis: 50%;
}

.early-access {
    background-color: var(--soft-blue);
    color: var(--white);
}

.early-access__container {
    align-items: center;
    display: flex;
    padding: 4em 2.5em;
    gap: 24%;
}

.early-access__content {
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.early-access__description {
    font-weight: 300;
    line-height: 1.4;
}

.early-access__form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.early-access__input {
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: .8em;
    width: 100%;
}

.early-access__button {
    padding: 1em 2em;
}

.footer {
    background-color: var(--dark-blue);
    color: var(--white);
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    padding: 4em 2.5em;
}

.footer__contact-info {
    display: flex;
    justify-content: space-between;
}

.footer__contact-item {
    display: flex;
    gap: 1em;
}

.footer__contact,
.footer__links-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__social-list {
    display: flex;
    gap: 1em;
}

.footer__social-link {
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: .4em;
}

@media only screen and (max-width: 860px) {
    .hero__content {
        flex-direction: column-reverse;
    }

    .hero__text {
        gap: 2em;
    }

    .hero__title,
    .hero__description {
        text-align: center;
    }

    .hero__title {
        font-size: 1.5rem;
    }

    .hero__description {
        font-size: .9rem;
    }

    .hero__form {
        flex-direction: column;
    }

    .hero__input {
        width: 100%;
    }
}